name: Checks

on:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.7.0
      - uses: actions/checkout@v2
      - uses: umidbekk/actions/npm/install@v1
      - run: yarn tsc
      - run: yarn lint
      - run: yarn build
      - run: git add .
      - run: git diff --quiet || exit 1
