name: Test

on:
  push:
    tags:
      - *
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v5
        with:
          script: |
            console.log(context.event);
