name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches:
      - '**'

jobs:
  build-size-cache:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'Test build-size') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./build-size/cache
        with:
          dir: ./build-size/cache

      - uses: ./build-size/cache
        with:
          label: custom-label
          dir: ./build-size/report

  build-size-report:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'Test build-size') }}
    needs:
      - build-size-cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./build-size/report
        with:
          label: should-fail
          dir: ./build-size/cache

      - uses: ./build-size/report
        with:
          dir: ./build-size/cache

      - uses: ./build-size/report
        with:
          label: custom-label
          dir: ./build-size/report

  deploy-preview:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'Test deploy-preview') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: |
          mkdir site
          echo "<html><body>Hello</body></html>" > site/index.html

      - run: netlify --help
      - run: netlify deploy --help
      - run: npx netlify --help
      - run: npx netlify deploy --help

      - uses: ./deploy-preview
        with:
          dir: site
          netlify-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify-site-id: ${{ secrets.NETLIFY_SITE_ID }}

      - uses: ./deploy-preview
        with:
          dir: site
          netlify-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify-site-id: ${{ secrets.NETLIFY_SITE_ID }}

      - uses: ./deploy-preview
        with:
          dir: site
          alias: custom-alias
          netlify-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify-site-id: ${{ secrets.NETLIFY_SITE_ID }}
